
@{
    ViewBag.Title = "CarFinder";
}

<h2>CarFinder</h2>

<div>
    <h4>carViewModel</h4>
    <hr />
    <dl class="dl-horizontal">


        <dd>
    
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
